@import url('https://fonts.googleapis.com/css2?family=Noto+Sans:ital,wdth,wght@0,62.5..100,100..900;1,62.5..100,100..900&display=swap');


:root {
    font-size: 100%;
}


.noto-sans-medium {
    font-family: "Noto Sans", sans-serif;
    font-optical-sizing: auto;
    font-weight: 600;
    font-style: normal;
    font-variation-settings:
      "wdth" 100;
}


.noto-sans-bold,
h1,
h2,
h3
{
    font-family: "Noto Sans", sans-serif;
    font-optical-sizing: auto;
    font-weight: 800;
    font-style: normal;
    font-variation-settings:
      "wdth" 100;
}


h1{
    font-size: 2.8rem;
    line-height: 1.25;
    margin-bottom: 1rem;
}
h2{
    font-size: 2.5rem;
}
h3{
    font-size: 2.3rem;
}

.mobile{
    h1{
        font-size: 1.8rem;
    }
    h2{
        font-size: 1.5rem;
    }
    h3{
        font-size: 1.3rem;
    }
}



