@use './theme.css';
@use './animations.css';
@use './fonts.scss';

:root {
    --section-gap: 160px;
    --wrapper-width: 95%;
    --border-radius: 10px;
    --border-radius-2: 5px;
    --border: 1px solid var(--color-border);
    --border-hover: 1.2px solid var(--color-border-hover);
    --box-shadow: .5px .8px 3px rgb(0, 0, 0, .5);
    --box-shadow-hover: .5px .8px 6px rgb(0, 0, 0, .65);
    @media(min-width: 1024px)
    {
        --wrapper-width: 80%;
    }
}
  
*,
*::before,
*::after {
    box-sizing: border-box;
    margin: 0;
    font-weight: normal;
}
#app {
    min-height: 100vh;
}

.invalid {
    border-color: var(--color-error) !important;
    box-shadow: 0px 0px 4px var(--color-error-2);
}
.valid {
    border-color: var(--color-success) !important;
}

input:-webkit-autofill,
input:-webkit-autofill:hover,
input:-webkit-autofill:focus,
input:-webkit-autofill:active {
    transition: background-color 5000s ease-in-out 0s;
}

.main-wrapper{
    min-height: 100vh;
}
main{
    width:100%;
    min-height:100%;
    display:flex;
    flex-direction: column;
    align-items: center;
}

section{
    min-height: fit-content;
    margin: 5% 0;
    width: 100%;
    padding: 40px 35px;
    &.form {
        max-width: 600px;
        min-height: 80vh;
        border: 1px solid var(--color-border);
        border-radius: var(--border-radius);
        box-shadow: var(--box-shadow);     
    }
    &.full {
        width: min(70rem, 100%);
        min-height: 80vh;
        padding: 3% 5%; 
    }
}
.margin-top{
    margin-top: 5vh !important;
}

.flex {
    display: flex;
    gap: 30px;
}